:root {
  --soft-black: #18181b;
  --subtle-black: #27272a;
  --mid-tone: #71717a;
  --mid-white: #d4d4d8;
  --lighter-white: #f4f4f5;
}

.resume {
  display: none;
  align-items: center;
  background-color: var(--lighter-white);
  margin: 5% 23% 0 23%;
  padding: 3vw 6vw;
  border: solid 2px var(--mid-tone);
}

body {
  color: var(--soft-black);
}

.general-info {
  display: grid;
  place-items: center;
  grid-template-areas:
    'user-name user-name user-name'
    'email . phone';
  border-bottom: double 1rem var(--subtle-black);
  margin-bottom: 7%;
}

.name {
  grid-area: user-name;
  margin-bottom: 2%;
}

.email {
  grid-area: email;
  margin-bottom: 3%;
}

.phone {
  grid-area: phone;
  margin-bottom: 3%;
}

li {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--mid-tone);
  margin-bottom: 4%;
}

h3 {
  margin-bottom: 2%;
}

.edit-button {
  padding: 15px 30px;
  margin: 2% 15% 0 15%;
  justify-content: center;
  align-items: center;
}
