.resume {
  display: none;
  align-items: center;
  background-color: #f4f4f5;
  margin: 5% 15% 0 15%;
  padding: 3vw 6vw;
}

.general-info {
  display: grid;
  place-items: center;
  grid-template-areas:
    'user-name user-name user-name'
    'email . phone';
  border-bottom: double 1rem #27272a;
}

.name {
  grid-area: user-name;
}

.email {
  grid-area: email;
}

.phone {
  grid-area: phone;
}
